- model_class = Stock
.page-header
	%h1　ストックを変更出来ます！
= render :partial => "form"
- content_for :page_javascript do
	= javascript_include_tag "stocks"
- content_for :page_stylesheet do
	= stylesheet_link_tag "stocks"
