- model_class = Stock
.row
	.col-md-8.col-md-offset-2
		= render "form", title: "ストックを変更出来ます！"
- content_for :page_javascript do
	= javascript_include_tag "stocks"
- content_for :page_stylesheet do
	= stylesheet_link_tag "stocks"
