- model_class = Stock
.row
	.col-md-8.col-md-offset-2
		.page-header
			%h1 家の日用品を記録しましょう！
		.panel.panel-primary
			.panel-heading
				みんなはこんなものを記録しています
			.panel-body
				= @popular_stocks
				= render "form"
- content_for :page_javascript do
	= javascript_include_tag "stocks"
- content_for :page_stylesheet do
	= stylesheet_link_tag "stocks"
